HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
bytebuddy/src/main/resources/
bytebuddy/src/test/
clazz-loader/src/main/resources/
clazz-loader/src/test/
design/src/main/resources/
design/src/test/
jol/src/main/resources/
jol/src/test/
leetcode/src/main/resources/
leetcode/src/test/
spring/src/main/resources/static/
spring/src/main/resources/templates/
!/.idea/
!/.mvn/
!/mvnw
!/mvnw.cmd
.idea/.gitignore
.idea/codeStyles/
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
/.idea/
/.mvn/
/mvnw
/mvnw.cmd
/spring/.mvn/
/spring-kafka/mvnw
/spring-kafka/mvnw.cmd
/spring-kafka/.mvn/
/env/docker-image/kafka/kafka/data/kafka-logs-kafka/
/env/docker-image/redis/cluster/redis1/
/env/docker-image/redis/cluster/redis1-slave/
/env/docker-image/redis/cluster/redis2/
/env/docker-image/redis/cluster/redis2-slave/
/env/docker-image/redis/cluster/redis3/
/env/docker-image/redis/cluster/redis3-slave/
/env/docker-image/elastic/search/logs/
/env/docker-image/elastic/search/data/
/env/docker-image/kafka/data/zookeeper/data/
/my-rocksdb/.mvn/
/my-sentinel/dashboard.log
/my-sentinel/sentinel.log
